.catalog__list {
  display: flex;
  flex-wrap: wrap;
  width: 836px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 252px;
  height: 300px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding: 20px;

  background-color: #fdfdfb;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--stock {
    padding: 85px 38px;
    background-color: #d4b098;
    background-image: url('../img/stock.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 251px 300px;

    p {
      margin: 0;
      width: 110px;

      @include Playfair_bold(16px, 24px);
      letter-spacing: 0.03em;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
    }

    span {
      display: block;
      padding-bottom: 10px;

      font-size: 45px;
      line-height: 45px;
    }
  }
}

.catalog__item-link:hover > .catalog__item-title {
  padding-bottom: 3px;
  border-bottom: 1px solid #D75A4A;
  color: #D75A4A;
}

.catalog__item-link:active > .catalog__item-title {
  opacity: 0.6;
}

.catalog__item-title {
  margin: 0;

  @include Roboto_bold(14px, 21px);
  letter-spacing: 0.05em;
  text-transform: uppercase;

  span {
    display: block;
    margin-top: 5px;
    font-weight: normal;
    line-height: 16px;

    color: #636261;
  }
}

.catalog__item-image {
  position: absolute;
  bottom: 15px;
  left: 55%;
  transform: translateX(-50%);
}
