.form-search__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  padding-left: 2px;

  &:hover > .icon-user {
    fill: $accent-color;
  }

  &:active > .icon-user {
    opacity: 0.6;
  }
  cursor: pointer;
}
