.page-header__wrapper {
  position: relative;

  display: flex;
  align-items: center;
  width: 1366px;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 103px;
  padding-right: 103px;

  &--position-content {
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 20px;
  }

  z-index: 15;
}

.page-header__logo {
  display: flex;
  align-items: center;

  &--position {
    order: 0;
  }
}

.page-header__logo-image {
  width: 19px;
  height: 19px;
}

.page-header__logo-text {
  @include Playfair_regular(12px, 16px);
  text-transform: uppercase;
  letter-spacing: 0.14em;
}

.page-header__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;

  &--position {
    order: 2;
    margin: 0;
  }
}

.icon-user {
  fill: $title-color;

  &--heart {
    stroke: $title-color;
  }
}

.page-header__like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;

  background-color: transparent;

  &:hover > .icon-user {
    stroke: $accent-color;
  }

  &:active > .icon-user {
    opacity: 0.6;
  }
}

.page-header__basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  &:hover > .icon-user {
    fill: $accent-color;
  }

  &:active > .icon-user {
    opacity: 0.6;
  }
}
