.user-list {
  display: flex;
  align-items: center;
  width: 52px;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-list__like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;

  background-color: transparent;

  &:hover .user-icon {
    stroke: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  &:hover > .user-icon {
    fill: $accent-color;
  }

  &:active {
    opacity: 0.6;
  }
}

.user-icon {
  fill: $title-color;

  &--heart {
    stroke: $title-color;
  }
}
