@mixin Roboto_light($font-size: 14px, $line-height: 15px) {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin Roboto_regular($font-size: 16px, $line-height: 16px) {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin Roboto_medium($font-size: 12px, $line-height:14px) {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin Roboto_bold($font-size: 14px, $line-height:16px) {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin Playfair_regular($font-size:32px, $line-height:36px) {
  font-family: 'Playfair Display', 'Times New Roman', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin Playfair_bold($font-size:18px, $line-height:20px) {
  font-family: 'Playfair Display', 'Times New Roman', sans-serif;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin Prata($font-size:16px, $line-height:22px) {
  font-family: 'Prata', 'Times New Roman', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}
